<!DOCTYPE html>
<html>
<head>
  <title>Exercicio 1</title>
  <meta charset="utf-8">
</head>
<body>

<form method="POST">
  <fieldset> <!-- Estão faltando outros campos, com  e-mail e mensagem -->
    <legend>Campos Obrigatórios:</legend>
    <label for="nome">Nome: </label></br>
    <input type="text" name="nome" id="nome" maxlength="100" required /> </br>
    <label for="Idade">Idade: </label></br>
    <input type="number" name="idade" id="idade" maxlength="2" required /> </br>
    <input type="submit" value="enviar" />

  </fieldset>
</form>

</body>
</html>
